<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495184714237-8gh5o6lrdt49sndrdvc8dbvhmj29davq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495184714237-8gh5o6lrdt49sndrdvc8dbvhmj29davq</string>
	<key>API_KEY</key>
	<string>AIzaSyDiTWwDtBbBTlHqKMjySKJORM6nHxpGnIY</string>
	<key>GCM_SENDER_ID</key>
	<string>495184714237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emoooqwe.ispiyon</string>
	<key>PROJECT_ID</key>
	<string>ispiyon-8188f</string>
	<key>STORAGE_BUCKET</key>
	<string>ispiyon-8188f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495184714237:ios:9b20b9c1fcba433bdb2194</string>
</dict>
</plist>